apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
  namespace: staging
spec:
  replicas: 5
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
    spec:
      containers:
      - name: guestbook
        image: paulbouwer/hello-kubernetes:1.9
        ports:
        - containerPort: 8080
