apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
spec:
  replicas: 2  # ← Sera surchargé par overlays
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
    spec:
      containers:
      - name: guestbook
        image: paulbouwer/hello-kubernetes:1.10
        ports:
        - containerPort: 8080

